<%= form_for @changeset, auten_path(@conn, :create), fn f -> %>
    <div class="form-group">
     <%= text_input f, :nickname, placeholder: "Nickname", class: "form-control" %>
     <%= error_tag f, :nickname %>
     <%= password_input f, :contraseña, placeholder: "Contraseña", class: "form-control" %>
     <%= error_tag f, :contraseña %>

    </div>
    <%= submit "Aceptar", class: "btn btn-primary" %>
<% end %>
