<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>FUTSHOW</title>


    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/packages/core/main.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/packages/daygrid/main.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/packages/timegrid/main.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/packages/list/main.css") %>">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href='https://unpkg.com/@fullcalendar/core@4.3.1/main.min.css' rel='stylesheet' />


  <link href='https://unpkg.com/@fullcalendar/daygrid@4.3.0/main.min.css' rel='stylesheet' />

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="<%= static_path(@conn, "/js/packages/core/main.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/packages/interaction/main.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/packages/daygrid/main.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/packages/timegrid/main.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/packages/list/main.js") %>"></script>


    <script>
      <%= if @conn.assigns.user do %>
      window.userToken= "<%= Phoenix.Token.sign(Discuss.Endpoint, "key", @conn.assigns.user.id) %>"
      <% end %>
    </script>


    <style>


    #calendar {
      max-width: 900px;
      margin: 0 auto;
    }

  </style>



  </head>

  <body>


    <nav class="light-blue">

          <div class="nav-wrapper container">
            <a href="/" class="brand-logo center">
              FUTSHOW
            </a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
              <li><a href="/equipo">Equipo</a></li>
              <li><a href="/establecimiento">Establecimiento</a></li>
              <li><a href="/cancha">Cancha</a></li>
            </ul>
            <ul class="right">
              <%= if @conn.assigns[:user] do %>
                <li>
                  <%= link "Sign Out" , to: auten_path(@conn, :signout ) %>
                </li>

              <% end %>

            </ul>

          </div>




      </nav>



      <div class="container">


      </div>



      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>

  <script src='https://momentjs.com/downloads/moment.js'></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

  <script src="<%= static_path(@conn, "/js/app.js") %>"></script>

  <script src='https://momentjs.com/downloads/moment.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/interaction/main.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/daygrid/main.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/timegrid/main.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/list/main.min.js'></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>


  </body>

</html>
