<h5>FUNCIONA</h5>

<div class="input-field">

  <textarea class="materialize-textarea"></textarea>
  <button class="btn">Add Comment</button>
  <ul class="collection">


  </ul>
  </div>

  <div id='calendar'> </div>

<script>
  document.addEventListener("DOMContentLoaded", function(){

  window.createSocket(<%= @reserva.id %>, calendar)
});

</script>
